a:link {
	text-decoration: none;
	color: inherit;
}
a:visited {
	text-decoration: none;
	color: inherit;
}
button {
	outline: none;
}
ul {
	padding: 0;
	list-style-type: none;
	a {
		&:hover {
			text-decoration: none;
		}
	}
}