img {
	width: 100%;
}
.our-mission {
	border: 1px solid black;
	border-radius: 1em;
	margin: 1em;
}
.mission-image {
	padding-bottom: 1em;
}


//news
.home-news {
	text-align: center;
}
.news-thumbnail {
	border: 1px solid black;
	margin: 1em;
}