img {
	width: 100%;
}
.our-mission {
	border: 1px solid #EFEFEF;
	border-radius: 1em;
	margin: 1em;
}
.mission-image {
	padding-bottom: 1em;
}

.horizontal-rule {
	padding-top: .5em;
	text-align: center;
	width: 40%;
	border-top: 1px solid black;
	margin: 0 auto;  //can't belive this centered it!
}

//news
.home-news {
	padding-bottom: 1em;
	text-align: center; // why does this not work?
}
.news-thumbnail {
	border: 1px solid #EFEFEF;
	margin: 1em;
	&:hover {
		border: solid 1px #CCC;
    	-moz-box-shadow: 1px 1px 5px #999;
    	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
	}
}

//team
.member-thumbnail {
	padding: 2em 2em 0 2em;
}
.carousel-indicators li {
	visibility: hidden;
}
.carousel-control {
	&.right,
	&.left  {
		background-image: none;
	}
}
.partner-logo {
	width: 100%;
}