header {
	border-top: 5px solid $cubaBlue;
	position: relative;
	.nav-logo {
		cursor: auto;
		&:hover {
			background-color: white;
		}
	}
	button {
		z-index: 1;
		color: $cubaFontColor;
		background-color: white;
    	border: none;
	}
	li {
		cursor: pointer;
		font-size: 2em;
		border-bottom: 1px solid $cubaGrey;
		padding-top: .5em;
		padding-bottom: .5em;
		a {
			color: $cubaFontColor;
			width: 100%;
			display: inline-block;
		}
		&:hover {
			background-color: $cubaBlue;
			border-bottom: 1px solid white;
			a {
				color: white;
			}
		}
	}
}
.selected {
	background-color: $cubaBlue;
	a {
		color: white;
	}
}
.show-menu {
	>ul {
		display: none;
	}
}


.menu-toggle {
	position: absolute;
	right: 1em;
	font-size: 2em;
}
.language-toggle {
	position: absolute;
	right: 5em;
    top: .8em;
    font-size: 1em;
}
.language-flags {
	display: none;
}
.navlogo {
	width: 50%;
}

@media only screen and (min-width : 768px) {
	nav {
	text-align: center;
	height: 70px;
		li {
			height: 70px;
			&:hover {
				background-color: $cubaBlue;
			}
		}
	}
	img {
	width: 100%;
	}
	.language-flags {
		display: inline-block;
	}
}