.news-header {
	padding-top: 3em;
	padding-bottom: 1.5em;
	margin-top: 0; 
	margin-bottom: 0;
	text-align: center;
	background-color: $cubaBlue;
	color: white;
	font-size: 2.5em;
}
.news-article {
	padding-top: 1em;
	padding-bottom: 3em;
	&:nth-child(odd) {
		padding-top: 2em;
		background-color: $cubaGrey;
	}
	h3 {
		color: $cubaHeaderColor;
		padding: 1em;


	}
	img {
		width: 85%;
	}
	address{
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 2em;
		display: inline-block;
		color: #696C6B;
	}
	time{
		display: inline-block;
		color: #696C6B;
	}
	p{
		color: $cubaFontColor;
		padding-left: 2em
	}
}
.read-more-link {
	padding-left: 2em;
	@include transition(color, 300ms, ease);
	&:hover {
		color: $cubaBlue;
		text-decoration: underline;
	}
}