.our-history {
	@extend .our-mission;
	padding-left: 1em;
	padding-right: 1em;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.team-staff {
	text-align: center;
	p {
		font-size: .8em;
	}
}
.staff {
	@extend .horizontal-rule;
	padding-bottom: 1em;
}
.familia {
	padding-top: 3em;
	text-align: justify;
	h5 {
		text-align: center;
	}
}
.familia-team {
	border: 1px solid black;
	border-radius: 5px;
	margin: .5em;
	span {
		font-weight: bold;
	}
	img {
		padding: 1em 1em 1em 0;
	}
	p {
		text-align: left;
		&:first-child {
			padding-top: 1em;
		}
	}
}