
	<img class="margin-for-nav" src="images/home/example.png">

<section class="container">
	<article class="our-mission row">
		<div class="col-sm-6">
			<h2 class="title">Our Mission</h2>
			<p>The Cuba Skate mission is threefold: bring skateboarding materials to the Cuban youth, renovate local skateparks, and create self-sufficiency for a group of skaters that rely tremendously on outside help. Through two-way cultural exchanges, we hope to connect Cubans with the international skate community.</p>
		</div>
		<div class="col-sm-6">
			<img class="mission-image" src="images/home/example2.png">
		</div>
	</article>
</section>
<section class="container">
	<article class="home-news row" ng-controller="NewsController as nc">
		<h2 class="horizontal-rule">News</h2>
		<section class="col-sm-4" ng-repeat="thumbnail in nc.news | limitTo: 3">
			<div class="news-thumbnail">
				<a ng-href="{{thumbnail.url}}" target="_blank">
					<img ng-src={{thumbnail.image}}>
					<h3>{{thumbnail.header}}</h3>
					<time>{{thumbnail.date}}</time>
					<p>{{thumbnail.story}}</p>
				</a>
			</div>
		</section>
		<button class="read-more">Read More</button>
	</article>	
</section>
<section class="container home-team" ng-controller="TeamController as tc">
	<div class="home-about-us">
		<h2 class="horizontal-rule">The Team</h2>
		<div class="row">
			<article class="col-sm-6">
					<p>{{tc.about}}</p>
			</article>
		</div>
		<article>
			<carousel class="row" interval="tc.teamInterval">
				<slide class="col-sm-12" ng-repeat="slide in tc.team" active="slide.active">
		        	<img class="member-thumbnail" ng-src="{{slide.image}}">
		        	<h3>{{slide.name}}</h3>
		        	<h4 class="horizontal-rule">{{slide.title}}</h4>
		        </slide>
			</carousel>
		</article>
		<section class="row">
			<article class="col-sm-6">
				<h3 class="home-our-partners">Our Partners</h3>
				<section class="row">
					<article class="col-xs-6" ng-repeat="logo in tc.partner | limitTo: 4">
						<div class="partner-thumbnail">
							<a ng-href="{{logo.url}}" target="_blank">
								<img class="partner-logo" src="{{logo.image}}">
							</a>
						</div>
					</article>
					<button class="see-more">See More</button>
				</section>
			</article>
		</section>
	</div>
</section>
<section class="container">
	<p>email <a href="mailto:info@cubaskate.com" target="_blank">info@cubaskate.com</a> to get involved</p>
</section>
<section class="home-donate">
	<p>explanaiton about donation</p>
	<button class="donate-button">Donate Now</button>
</section>
<footer>
	<h4>Let's Be Friends</h4>
	<ul>
		<li>
			<i class="fa fa-twitter" aria-hidden="true"></i>
		</li>
		<li>
			<i class="fa fa-instagram" aria-hidden="true"></i>
		</li>
		<li>
			<i class="fa fa-facebook" aria-hidden="true"></i>
		</li>
		<li>
			<i class="fa fa-vimeo" aria-hidden="true"></i>
		</li>
	</ul>
</footer>