<section>
	<h1 class="news-header">The Team</h1>
	<div class="videoWrapper">
    	<iframe width="560" height="349" src="https://player.vimeo.com/video/96121779" frameborder="0" showinfo="0" controls="0" autohide="1"></iframe>
	</div>
	<article class="our-history">
		<h2 class="title">Our History</h2>
		<p>Cuba Skate was started by Lauren Bradley and Miles Jackson, two University of Michigan graduates who participated in a study abroad program in Havana, Cuba. In addition to their time in the classroom and touring the country’s provinces, much of their most influential time was spent with a group of Cuban skate friends. Every day they got to know this group of Cubans on a very personal level, giving them the opportunity to grow as friends and ultimately as an extended family. A key element of this close relationship was a shared passion for skateboarding. This international culture and sport molded Lauren, Miles and these Cuban skaters into a tight unit.</p>
	</article>
	<article class="container-fluid team-staff">
		<h2 class="staff">Staff</h2>
		<section class="row">
			<div class="col-xs-4" ng-repeat="people in tc.team | limitTo : 3">
				<img ng-src="{{people.image}}">
				<h5>{{people.name}}</h5>
				<p>{{people.title}}</p>
			</div>
		</section>
		<section class="row">
			<div class="col-xs-4" ng-repeat="people in tc.team | limitTo : 3 : 3">
				<img ng-src="{{people.image}}">
				<h5>{{people.name}}</h5>
				<p>{{people.title}}</p>
			</div>
		</section>
		<section class="familia">
			<h2 class="staff">Familia</h2>
			<p>23yG is a downtown skate spot which became the catalyst for the greater skate movement in Cuba. The 23yG skate squad is named after landmark area, featuring many of Cuba’s most dedicated, talented riders. The 23yG familia has spread its wings to help lay the foundation for the emerging generation of skaters across the island.</p>
			<h5>Skateboard Ambassadors</h5>
			<p>We are grateful of the support of many professional skateboarders, distributions, and local skate shops across the world.  As we continue to promote skateboarding diplomacy, we are honored and humbled to have these ambassadors join us in our mission.</p>
			<article class="row familia-team" ng-repeat="people in tc.familia">
				<div class="col-xs-6">
					<img ng-src="{{people.image}}">
				</div>
				<div class="col-xs-6">
					<p><span>Name: </span>{{people.name}}</p>
					<p><span>Hometown: </span>{{people.hometown}}</p>
					<p><span>Skates: </span>{{people.skates}}</p>
					<a href="">
						<i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
					</a>
					<a href="">
						<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
					</a>
				</div>
			</article>
		</section>
		<section class="skatepark">
			<h2 class="staff">The Skatepark</h2>
			<p>There are countless skate spots all over Havana and its municipalities.  The island at large is home to awesome plazas, gnarly terrain, and dynamic skate spaces in provinces like Pinar del Rio, Holguin, Matanzas, and Las Tunas, to name a few.</p>
			<p>In Havana, El Patinodromo is a local skatepark where Cuban skaters, BMXers, and inline skaters congregate to skate, bike, and hangout.  Unfortunately, the current condition of the park is in extreme disrepair and only continues to worsen.  A mixture of brutal summer heat, severe downpours during the rainy season, and poor irrigation have created cracks, puddles and weeds throughout the park, while the metal ramps deteriorate daily.</p>

			<carousel class="row" interval="tc.skateInterval">
				<slide class="col-sm-12" ng-repeat="pictures in tc.skatespots" active="pictures.active">
	        		<img ng-src="{{pictures.image}}">
	        	</slide>
			</carousel>
		</section>
		<section>
			<h2 class="title">Partners</h2>
		</section>
	</article>


<!-- 	<article class="container-fluid">
		<carousel class="row" interval="tc.teamInterval">
			<slide class="col-sm-12" ng-repeat="slide in tc.team" active="slide.active">
	        	<img class="member-thumbnail" ng-src="{{slide.image}}">
	        	<h3>{{slide.name}}</h3>
	        	<h4 class="horizontal-rule">{{slide.title}}</h4>
	        </slide>
		</carousel>
	</article> -->
</section>